---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection('posts');

  return blogPosts.map((entry) => ({ params: { slug: entry.slug }, props: { entry } }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <Content />
</Layout>
