---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
const posts = await getCollection('posts');
---

This is the blog index
<Layout title="nice">
  {posts.map((post) => <a href={`/posts/${post.slug}`}>{post.data.title}</a>)}
</Layout>
