---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = await getCollection("posts");
---

<BaseLayout title="posts" description="Find all posts">
  {posts.map((post) => <a href={`/posts/${post.slug}`}>{post.data.title}</a>)}
</BaseLayout>
