---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" description="About Me">
  <main>Thanks for visiting. The About page is still under construction.</main>
</BaseLayout>
<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
</style>
