---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="tsteele.dev" description="tsteele.dev">
  <main>Thanks for visiting. The Home page is still under construction.</main>
</BaseLayout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
</style>
