---
import ThemeIcon from './ThemeIcon.astro';
---

<nav class="nav">
  <div class="links">
    <div class="logo">
      <a href="/">tsteele.dev</a>
    </div>
    <div class="controls">
      <a href="/posts">Posts</a>
      <a href="/about">About</a>
      <a href="https://github.com/taylorfsteele/tsteele.dev">Github</a>
      <ThemeIcon />
    </div>
  </div>
</nav>
<style>
  .nav {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    gap: 1rem;
    flex-direction: column;

    @media screen and (min-width: 640px) {
      flex-direction: row;
    }
  }

  .controls {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .logo {
    flex: 1 1 auto;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 6px;
    }

    .dark & {
      color: white;
    }
  }
</style>
